{% load static %}
<html>

<head>
    <meta charset='utf-8'>
    <!-- CSS HERE -->
    <link rel='stylesheet' href={% static 'css/normalize.css' %}>
    <link rel='stylesheet' href={% static 'css/skeleton.css' %}>
    <link rel='stylesheet' href={% static 'css/main.css' %}>

</head>

<body>
    <div class='container'>
        <div class='row u-pull-right'>
            {% if user.is_authenticated %}

            Hello, <a href={% url 'user_profile' user.username %}>{{user.username}}</a>
            <a class='button' href={% url 'logout' %}>Logout</a>
            {% else %}
            <a class='button button-primary' href={% url 'login' %}>Login</a>
            <a class='button button-primary' href={% url 'signup' %}>Sign Up</a>

            {% endif %}
        </div>
        {% if pen_brand or current_ink%}

        <h3>Filtering by {{pen_brand|default_if_none:"All Pens"}} {{current_ink_name|default_if_none:"All Inks"}}</h3>
        <a class="button-primary" href="{% url 'index' %}">Show All</a>

        {% endif %}
        <div class='row'>
            <h2>Pens</h2>
            <p>Number of Pens: {{pen_list|length}}</p>
            <table class="u-full-width">
                <thead>
                    <tr>
                        
                        {% if user.is_authenticated %}
                        <th></th>
                        <th></th>
                            
                        {% endif %}
                            
                        <th>Color</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Nib Size</th>
                        <th>Ink</th>
                        <th></th>
                        <th></th>
                        <th>Added By</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pen in pen_list %}
                    <tr>
                        
                        {% if user.is_authenticated %}
                        <td>
                            {% if pen.id in pen_ids %}
                                <img src = "{% static 'images/save_alt.svg' %}">
                            {% endif %}
                                
                        </td>
                        <td>

                        </td>
                            
                        {% endif %}
                            
                        <td style="background-color:{{pen.color}};"></td>
                        <td>
                            {% if current_ink %}
                            <a href={% url 'index' pen_brand=pen.brand_name current_ink=current_ink %}>
                                {% else %}
                                <a href={% url 'index' pen_brand=pen.brand_name %}>
                                    {% endif %}
                                    {{pen.brand_name}}</a>
                        </td>
                        <td>{{pen.model_name}}</td>
                        <td>{{pen.nib_size}}</td>
                        <td style="background-color:{{pen.current_ink.color}}"></td>
                        <td>
                            {% if perms.pens.change_pen %}
                            <a href={% url 'edit_pen' pen.id %}>Edit</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if perms.pens.delete_pen %}
                            <a href={% url 'delete_pen' pen.id %}>Delete</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'user_profile' pen.added_by.user.username %}">
                                {{pen.added_by.user.username}}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class='button-primary' href="{% url 'add_pen' %}">Add Pen</a>
        </div>

        <div class='row'>
            <h2>Inks</h2>
            <p>Number of Inks: {{ink_list|length}}</p>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Brand</th>
                        <th>Color Name</th>
                        <th>Rating</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ink in ink_list %}
                    <tr>
                        <td style="background-color:{{ink.color}};"></td>
                        <td>{{ink.brand_name}}</td>
                        <td>
                            {% if pen_brand %}
                            <a href={% url 'index' pen_brand=pen_brand current_ink=ink.id %}>
                                {% else %}
                                <a href={% url 'index' current_ink=ink.id %}>
                                    {% endif %}
                                    {{ink.color_name}}</a></td>
                        <td>{{ink.rating}}</td>
                        <td>
                            {% if perms.inks.change_ink %}
                            <a href={% url 'edit_ink' ink.id %}>Edit</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if perms.inks.delete_ink %}
                            <a href={% url 'delete_ink' ink.id %}>Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class='button-primary' href="{%url 'add_ink'%}">Add Ink</a>
        </div>

    </div>

</body>

</html>